.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background:var(--firstBlack);
  border-bottom: 10px solid var(--firstBlack);
  padding-left: 20px;
  padding-right: 20;
  padding:10px 10px;
}